<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Sign In</h4>
                        <p class="card-category">Sign In in Base System</p>
                    </div>
                    <div class="card-content">
                        <div class="container-fluid">
                            <div class="row">
                                <form class="col-md-12 form" [formGroup]="form" (ngSubmit)="onSubmit()">
                                    <mat-form-field appearance="fill" class="my-2">
                                        <mat-label>Email</mat-label>
                                        <input type="email" matInput formControlName="email" placeholder="Email" [attr.disabled]="loading? true : null">
                                        <mat-error *ngIf="email.hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="email.hasError('email')">
                                            Please enter a valid email address
                                        </mat-error>
                                        <mat-error *ngIf="email.hasError('maxlength')">
                                            The length of the Email is too long. The maximum length must be <strong>50 characters</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="my-2">
                                        <mat-label>Password</mat-label>
                                        <input type="password" matInput formControlName="password" placeholder="Password" [attr.disabled]="loading? true : null">
                                        <mat-error *ngIf="password.hasError('required')">
                                            Password is <strong>required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="password.hasError('minlength')">
                                            The length of the Password  is too short. The minimum length must be <strong>6 characters</strong>
                                        </mat-error>
                                        <mat-error *ngIf="password.hasError('maxlength')">
                                            The length of the Password is too long. The maximum length must be <strong>30 characters</strong>
                                        </mat-error>
                                    </mat-form-field>

                                    <button *ngIf="!loading" type="submit" class="btn btn-primary btn-block mx-auto"> Sign In </button>
                                    <button *ngIf="loading" type="button" class="btn btn-primary btn-block mx-auto" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        <span class="sr-only">Logging In...</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

