<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title"> Users </h4>
                </div>
                <div class="card-content">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-primary my-2 px-2" *ngIf="hasCreatePermission" routerLink="/users/create">Create New</a>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 d-md-inline-flex justify-content-end">

                                <mat-form-field appearance="fill" class="my-2 px-2">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="Search">
                                </mat-form-field>
                                
                                <mat-form-field appearance="fill" class="my-2 px-2">
                                    <mat-label>Items per Page</mat-label>
                                    <mat-select (selectionChange)="onPageSizeChange($event)">
                                        <mat-option *ngFor="let size of itemsPerPage" [value]="size">{{size}}</mat-option>
                                    </mat-select>
                                </mat-form-field>


                                <mat-form-field appearance="fill" class="my-2 px-2">
                                    <mat-label>Sort By</mat-label>
                                    <mat-select>
                                        <mat-option *ngFor="let sortField of sortFields" [value]="sortField">{{sortField}}</mat-option>
                                    </mat-select>
                                </mat-form-field>             
                            </div>
                        </div>
                        <div class="card-content table-responsive table-full-width px-2" *ngIf="pagedList && pagedList.rowsCount > 0">
                            <table class="table">
                                <thead class="text-secondary">
                                  <th scope="col">Id</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Role</th>
                                  <th scope="col">Active</th>
                                  <th class="text-right">Actions</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of pagedList.items | paginate: {
                                        itemsPerPage: pageSize,
                                        currentPage: pageNumber,
                                        totalitems: pagedList.rowsCount
                                    }; let i = index">
                                        <td>{{item.id}} </td>
                                        <td> {{item.fullname}} </td>
                                        <td>{{item.role}}</td>
                                        <td *ngIf="item.active; else elseBlock" class="text-success">Yes</td>
                                        <ng-template #elseBlock> <tr class="text-danger">No</tr></ng-template>
                                        <td class="text-right">
                                            <button mat-raised-button type="button" class="btn btn-primary btn-sm" routerLink="/users/details/{{item.id}}">
                                                <i class="material-icons">visibility</i>
                                            </button>
                                            <button *ngIf="hasEditPermission" mat-raised-button type="button" class="btn btn-secondary btn-sm">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button *ngIf="hasDeletePermission" mat-raised-button type="button" class="btn btn-danger btn-sm">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                        </div>

                        <div class="card-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 px-2 d-md-inline-flex justify-content-end">
                                        <pagination-controls
                                        [responsive]="true"
                                        (pageChange)="onPageChange($event)">
                                        </pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
