<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title"> Users </h4>
                </div>
                <div class="card-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-inline justify-content-end align-self-end">
                                    <div class="form-group">
                                        <input type="text" value="" placeholder="Search..." class="form-control" id="filter">
                                    </div>

                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="itemsPerPageButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Items Per Page
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="itemsPerPageButton">
                                            <a class="dropdown-item" href="#">5</a>
                                            <a class="dropdown-item" href="#">10</a>
                                            <a class="dropdown-item" href="#">15</a>
                                            <a class="dropdown-item" href="#">20</a>
                                            <a class="dropdown-item" href="#">25</a>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortByButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sort By
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="sortByButton">
                                            <a class="dropdown-item" href="#">Name</a>
                                            <a class="dropdown-item" href="#">Role</a>
                                            <a class="dropdown-item" href="#">Active</a>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary">Filter</button>
                                    <button class="btn btn-primary">Create New</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-content table-responsive table-full-width">
                            <table class="table">
                                <thead class="text-secondary">
                                  <th>Id</th>
                                  <th>Name</th>
                                  <th>Role</th>
                                  <th>Active</th>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Dakota Rice</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td class="text-success">Yes</td>
                                  </tr>
                                  <tr>
                                    <td>Minerva Hooper</td>
                                    <td>Curaçao</td>
                                    <td>Sinaai-Waas</td>
                                    <td class="text-danger">No</td>
                                  </tr>
                                  <tr>
                                    <td>Sage Rodriguez</td>
                                    <td>Netherlands</td>
                                    <td>Baileux</td>
                                    <td class="text-danger">$56,142</td>
                                  </tr>
                                  <tr>
                                    <td>Philip Chaney</td>
                                    <td>Korea, South</td>
                                    <td>Overland Park</td>
                                    <td class="text-danger">$38,735</td>
                                  </tr>
                                  <tr>
                                    <td>Doris Greene</td>
                                    <td>Malawi</td>
                                    <td>Feldkirchen in Kärnten</td>
                                    <td class="text-danger">$63,542</td>
                                  </tr>
                                  <tr>
                                    <td>Mason Porter</td>
                                    <td>Chile</td>
                                    <td>Gloucester</td>
                                    <td class="text-danger">$78,615</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
